@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;
  --muted: 215 16% 90%;
  --muted-foreground: 215 16% 46%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 178 100% 50%;
  --primary-foreground: 222 47% 11%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222 47% 11%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222 47% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 0 0% 98%;
  --muted: 217 33% 17%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 222 47% 11%;
  --popover-foreground: 0 0% 98%;
  --card: 222 47% 11%;
  --card-foreground: 0 0% 98%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --primary: 178 100% 50%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 0 0% 98%;
  --accent: 217 33% 17%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 217 33% 17%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}